<main role="main" class="ethics">
  <h1>Ethics</h1>
  <p>We are an independent research team and our research project received ethical approval by the Ethical Committees of the following institutions:  the University of Cyprus (Cyprus), the University of Copenhagen (Denmark), the Autonomous University of Madrid (Spain), the University of Bologna (Italy), the University of Edinburgh (Scotland), the University of Cologne (Germany), the Budapest University of Technology and Economics (Hungary) and the University of Glasgow (Scotland).</p>
  <p>We will ensure the security of all information collected during the assessment period by storing the data in a cloud-based database only accessible by the Principal Investigator. Answers will be anonymous, and every effort will be made to ensure confidentiality. We would like to emphasise that no corporations or third parties will have access to the data, and that the results will not be used for commercial purposes.</p>
</main>