<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    <% end %>
  <div class="title">
    <h1>MyQoL</h1>
    <p class="sub-heading">Improving the assessment of Quality of Life</p>
  </div>
</div>

<main role="main" class="about grey-band">
  <div class="container-fluid">
    <h2>About</h2>
    <div class="sub-section">
      <h3>Who are we?</h3>
      <p>We are an international research team consisting of under- and post-graduate psychology students, supervised by Dr Angelos Kassianos, postdoctoral research associate at University College London in the Department of Applied Health Research. The student group is part of the Junior Researcher Programme, a research orientated service in partnership with the University of Cambridge, which aims to provide young researchers with the opportunity to conduct cross-European research.</p>
      <%= image_tag("team.jpg", alt: "Team picture", class: "team-pic") %>
    </div>
    <div class="sub-section">
      <h3>What are we doing?</h3>
      <p>We are conducting a research project to develop and test a mobile application for Quality of Life assessment in seven European countries.</p>
    </div>
    <div class="sub-section">
      <h3>Why are we doing this?</h3>
      <p>The use of mobile applications in healthcare is increasing, and we need to know more about the best ways to develop and incorporate them in practice. As the measure of Quality of Life has been shown to predict and directly influence clinical outcomes (e.g. survival , physical activity) in prominent conditions such as cancer, we want to find out the best method of assessment to be used in clinical settings.</p>
      <p>Traditionally, Quality of Life assessment using paper or web-based questionnaires relies on people recalling recent events and feelings. This can be problematic because our memory can be biased by factors such as mood and memory decline. Furthermore, the feasibility of this kind of Quality of Life assessment can be limited by the time and monetary costs of travel to and from places in which assessments take place.</p>
      <p>The above issues justify our investigation of the looking at new, different ways of assessing Quality of Life. Mobile applications seem a promising method because their use could overcome many of the challenges faced by traditional Quality of Life measurement.</p>
    </div>
    <div class="sub-section">
      <h3>How are we doing this?</h3>
      <p>We have developed a mobile application with the purpose of gathering information about Quality of Life in real-time, therefore avoiding the problems associated with looking back in time. When using the mobile application it is also possible to collect information about current mood and activities.</p>
    </div>
    <div class="sub-section">
      <h3>Implications</h3>
      <p>By participating in our project alongside fellow European university students, you will help us to determine whether or not the mobile application offers a valid, reliable and realistic method of assessing Quality of Life in real-time.</p>
      <p>Our method will be cost efficient in terms of time and money, and also sensitive to the context in which responses are provided.</p>
      <p>Finally, we hope that collecting health-related information with a mobile application might help physicians to keep track of their patients’ Quality of Life, which in turn could lead to more individualised treatment and better communication between both parties.</p>
    </div>
  </div>
</main>
