<div class="title">
  <h1>MyQoL</h1>
  <p class="sub-heading">Improving the assessment of Quality of Life</p>
</div>
<main role="main">
  <h2>About</h2>
  <div class="sub-section">
    <h3>Who are we</h3>
    <p>An international research team consisting of under- and post-graduate psychology students supervised by a Principal Investigator. The group is part of theJunior Researcher Programme, a research orientated service in partnership with the University of Cambridge which aims to provide young researchers with experience in conducting cross-European research</p>
    <%= image_tag("team.jpg", alt: "Team picture") %>
  </div>
  <div class="sub-section">
    <h3>What are we doing</h3>
    <p>We are conducting a research project to develop a mobile application for  Quality of Life assessment in seven European countries.</p>
  </div>
  <div class="sub-section">
    <h3>Why are we doing this</h3>
    <p>The use of mobile applications in healthcare is increasing, and we need to know more about the best ways to develop and incorporate them in practice. As the measure of Quality of Life has been shown to influence clinical outcomes, we want to find out the best method of assessment to be used in clinical settings.</p>
    <p>Traditionally, Quality of Life assessment using paper or web-based questionnaires relies on people recalling recent events and feelings. This can be problematic because our memory can be biased by factors such as mood and memory decline.</p>
    <p>Because of these issues research investigating different ways of assessing Quality of Life are warranted, and mobile applications seem a promising method because their usage overcomes many of the challenges faced by traditional Quality of Life measurement.</p>
  </div>
  <div class="sub-section">
    <h3>How are we doing this</h3>
    <p>We have developed a mobile application with the purpose of gathering information about Quality of Life in real-time, therefore avoiding the problems associated with looking back in time. When using the mobile application it is also possible to collect information about current mood and activities.</p>
  </div>
  <div class="sub-section">
    <h3>How are we doing this</h3>
    <p>We have developed a mobile application with the purpose of gathering information about Quality of Life in real-time, therefore avoiding the problems associated with looking back in time. When using the mobile application it is also possible to collect information about current mood and activities.</p>
  </div>
</main>