<div class="container-fluid">
  <main role="main" class="contact-us">
    <h1 class="h2">Contact us</h1>
    <p class="sub-heading">For any questions or further information, please fill up the form:</p>
    <div class="row">
      <form class="col-sm-8 col-sm-offset-2">
        <label for="email-contact-us" class="access">Email: </label>
        <input type="email" id="email-contact-us" name="email" placeholder="Email">
        <label for="subject" class="access">Subject: </label>
        <input type="text" name="subject" placeholder="Subject">
        <label for="" class="access">Message: </label>
        <textarea placeholder="Message..."></textarea>
        <button type="submit">Send message</button>
      </form>
    </div>
  </main>
</div>