.footer-band {
    border-top: 1px solid $blue;
    background-color: $grey;
    position: relative;

    &.position {
        @include breakpoint(sm) {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }
    }
}

footer {
    padding: 15px;
    @include fontsize(14);

    .content {
        @include breakpoint(null,37rem){
            column-count: 2;
        }
    }

    ul {
        @include breakpoint(37rem){
            display: flex;
            justify-content: center;
        }
    }

    li {
        display: block;
        @include breakpoint(37rem){
            display: inline-block;
        }

        a {
            display: block;
            padding: 0.5rem 1rem;
            color: $darkGrey;
            &:hover, &:focus {
                color: $blue;
            }
        }
    }

    .created_by {
        text-align: center;
        @include fontsize(12);
        text-decoration: none;
        color: $darkGrey;
        margin-top: 15px;

        a {
            color: $darkGrey;
            &:hover, &:focus {
                color: $black;
            }
        }
    }
}
