form {
  margin-top: 15px;

    input, textarea {
        @include fontsize(16);
        font-weight: 200;
        font-family: $normalFont;
        padding: 4px 8px;
    }
    input[type="submit"] {
        width: auto;
    }

    textarea {
        min-width: 93%;
        height: 240px;
        border: 1px solid $greyForm;
        resize: none;
        @include breakpoint(37rem){
            width: 97%;
        }
        @include breakpoint(md){
            width: 100%;
        }
    }

    input[name="subject"] {
        @include breakpoint(xs){
            width: 20rem;
        }
        @include breakpoint(sm) {
            width: 65%;
        }
    }
}

button, input[type="submit"], .button {
    cursor: pointer;
    font-weight: 200;
    font-family: $normalFont;
    @include fontsize(16);
    padding: 6px 16px;
    border-radius: 0;
    background-color: $blue;
    color: $white;
    border: 0;
    margin-top: 15px;
    text-decoration: none;

    &:hover, &:focus {
        background-color: $grey;
        color: $blue;
    }
}

.devise-forms {
    padding-top: 30px;
    padding-bottom: 30px;

    input {
        width: 100%;
    }
    input[type="checkbox"] {
        width: auto;
    }
}

.actions {
    margin-bottom: 15px;
}
