.header-band {
    border-bottom: 3px solid $blue;
}

header {
    img {
        margin-top: 6px;
    }

    nav {
        .menu-button {
            cursor: pointer;
            clear: both;
            display: block;
            padding: 0.5rem 2rem 0.5rem 0.9rem;
            @include fontsize(18);
            background-color: transparent;
            color: $blue;
            border: 0;
            font-family: $normalFont;
            position: relative;
            margin-left: -15px;

            &:focus {
                outline-offset: -4px;
            }

            &:after {    
                content: '';
                position: absolute;
                top: 0;
                padding-left: 12px;
                width: 20px;
                height: 100%;
                background-size: 16px;
                background-repeat: no-repeat;
                background-position: center;
                .js & {
                    @extend %chevron-down-blue;
                }
            }

            @include breakpoint(53rem){
                display: none;
            }
        }
        .js &.show .menu-button:after {
            content: '';
            @extend %chevron-up-blue;
        }

        &.show ul {
            @include breakpoint(null, 53rem){
                display: block;
                border-top: 3px solid $blue;
                margin: 0 -15px;    
            }

            li {
                @include breakpoint(null, 53rem){
                    display: block;
                    text-align: left;
                    border-top: 1px solid $lightGrey;
                }
                &:first-child {
                    @include breakpoint(null, 53rem){
                        border: 0;
                    }
                }
            }
        }

        ul {
            display: none;
            @include breakpoint(53rem){
                display: flex;
                justify-content: center;
                clear: both;
                clear: none;
            }
        }

        li {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            @include breakpoint(53rem){
                max-width: 10rem;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            padding: 0.8rem 0.9rem;
            @include breakpoint(53rem){
                padding: 3rem 1.8rem;
            }
            &:hover, &:focus {
                text-decoration: underline;
                background-color: $grey;
                color: $blue;
            }

            &.active {
                @include breakpoint(53rem){
                    text-decoration: underline;
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}