.header-band {
    border-bottom: 3px solid $blue;
}

header {
    padding: 0 15px;
    img {
        margin-top: 6px;
        width: 75%;
        @include breakpoint(50rem){
            width: inherit;
        }
    }

    nav {
        .menu-button {
            cursor: pointer;
            clear: both;
            display: block;
            padding: 0.5rem 2rem 0.5rem 0.9rem;
            @include fontsize(18);
            font-weight: 300;
            background-color: transparent;
            color: $blue;
            border: 0;
            font-family: $normalFont;
            position: relative;
            margin-left: -15px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                padding-left: 12px;
                width: 20px;
                height: 100%;
                background-size: 16px;
                background-repeat: no-repeat;
                background-position: center;
                .js & {
                    @extend %chevron-down-blue;
                }
            }

            @include breakpoint(50rem){
                display: none;
            }
        }
        .js &.show .menu-button:after {
            content: '';
            @extend %chevron-up-blue;
        }

        &.show ul {
            @include breakpoint(null, 50rem){
                display: block;
                border-top: 3px solid $blue;
                margin: 0 -15px;
            }

            li {
                @include breakpoint(null, 50rem){
                    display: block;
                    text-align: left;
                    border-top: 1px solid $lightGrey;
                }
                &:first-child {
                    @include breakpoint(null, 50rem){
                        border: 0;
                    }
                }
            }
        }

        ul {
            display: none;
            @include breakpoint(50rem){
                display: flex;
                justify-content: center;
                clear: both;
            }
            @include breakpoint(67rem){
                clear: none;
            }

            [lang = "it"] &, [lang = "es"] & {
                @include breakpoint(75rem){
                    clear: none;
                }
            }
        }

        li {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            @include breakpoint(50rem){
                max-width: 10rem;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            padding: 0.8rem 0.9rem;
            @include breakpoint(50rem){
                padding: 0.6rem 1.2rem;
            }
            @include breakpoint(67rem){
                padding: 3rem 1.8rem;
            }

            [lang = "it"] & {
                @include breakpoint(null, 67rem){
                    padding: 0.6rem 1.2rem;
                }
                @include breakpoint(67rem){
                    padding: 3rem 1.3rem;
                }
                @include breakpoint(75rem){
                    padding: 3rem 1.8rem;
                }
            }

            [lang = "es"] &, [lang = "hu"] & {
                @include breakpoint(null, 67rem){
                    padding: 0.6rem 0.9rem;
                }
                @include breakpoint(67rem){
                    padding: 3rem 1rem;
                }
                @include breakpoint(75rem){
                    padding: 3rem 1.6rem;
                }
            }

            [lang = "de"] & {
                @include breakpoint(null, 67rem){
                    padding: 0.6rem 0.8rem;
                }
                @include breakpoint(67rem){
                    padding: 3rem 1rem;
                }
                @include breakpoint(75rem){
                    padding: 3rem 1.5rem;
                }
            }

            [lang = "el"] & {
                @include breakpoint(null, 67rem){
                    padding: 0.6rem 0.7rem;
                }
                @include breakpoint(67rem){
                    padding: 3rem 1rem;
                }
                @include breakpoint(75rem){
                    padding: 3rem 1.5rem;
                }
            }


            &:hover, &:focus {
                text-decoration: underline;
                background-color: $grey;
                color: $blue;
            }

            &.active {
                @include breakpoint(50rem){
                    text-decoration: underline;
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}
