.header-band {
    border-bottom: 3px solid $blue;
}

header {
  padding-top: 6px;

    nav {
        .menu-button {
            clear: both;
            display: block;
            padding: 0.5rem 0.9rem;
            @include fontsize(18);
            background-color: transparent;
            color: $blue;
            border: 0;
            font-family: $normalFont;
            &:focus {
                background-color: $blue;
                color: $white;
                outline-offset: -4px;
                outline-color: $white;
            }

            @include breakpoint(53rem){
                display: none;
            }
        }

        ul {
            display: none;
            @include breakpoint(53rem){
                display: flex;
                justify-content: center;
                clear: both;
                clear: none;
            }
        }

        li {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            @include breakpoint(53rem){
                max-width: 10rem;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            padding: 0.5rem 0.9rem;
            @include breakpoint(53rem){
                padding: 2.6rem 1.8rem;
            }
            &:hover, &:focus {
                background-color: $blue;
                color: $white;
                @include breakpoint(53rem){
                    background-color: transparent;
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
    }
}