.location-filters {
    legend {
        display: block;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    span {
        display: block;
    }
}

.info {
    display: block;
    margin-top: 15px;
}