.join {
    input[type="email"] {
        margin-top: 30px;
        display: block;
        @include breakpoint(xs) {
            width: 260px;
        }
    }

    .app, .form {
        display: inline-block;
        @include breakpoint(xs){
            margin: 0 15px;
        }
        img {
            width: 100%;
        }
    }
    .form {
        img {
            max-width: 145px;
            @include breakpoint(xs){
                width: 145px;
            }
        }
    }
    .app {
        img {
            @include breakpoint(xs){
                width: 380px;
            }
        }
    }
}

.location-filters {
    legend {
        display: block;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    span {
        display: block;
    }
}

.info {
    display: block;
    margin-top: 15px;
}
