table {
    text-align: left;
    width: 100;
    margin-top: 20px;
    
    .sub-heading {
        text-align: left;
    }

    th:first-child {
        width: 140px;
    }

    th, td {
        padding: 8px 15px;
    }
}