$icons-list: (chevron-up, chevron-down)!default;

@each $icon in $icons-list {
    %#{$icon}-blue {
        @include icon(image-url("#{$icon}.png"), '#{$icon}', $blue);
    }
    %#{$icon}-white {
        @include icon(image-url("#{$icon}-white.png"), '#{$icon}', $white);
    }
}

@include breakpoint(53rem) {
    @each $icon in $icons-list {
        %#{$icon}-blue-desktop {
            @include icon(image-url("#{$icon}.png"), '#{$icon}', $blue);
        }
        %#{$icon}-white-desktop {
            @include icon(image-url("#{$icon}-white.png"), '#{$icon}', $white);
        }
    }
}

i[class] {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
