html, body {
    height: 100%;
}

body {
    font-family: $normalFont;
    font-size: 16px;
    font-weight: 300;
    line-height: $lineHeight;
    text-align: center;
}

.access {
    position: absolute;
    left: -100ex;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container-fluid {
    max-width: $container-fluid-max;
}

//TODO find out why i need this:
.col-sm-12 {
    width: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

h1, .h1 {
    @include fontsize(40);
    font-weight: bold;
}

h2, .h2 {
    @include fontsize(30);
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: $blue;
}

img {
    width: 100%;
}

*:not(.oldie) *:focus {
    outline: 1px solid $blue;
}

@at-root .oldie#{&} {
    a, input, button, textarea, [tabindex] {
        &:focus {
            outline: 1px solid $blue;
        }
    }
}

.sub-section {
    margin-top: 40px;
}


h3, .sub-heading {
    font-family: $serifFont;
    margin-top: 15px;
    color: $blue;
    @include fontsize(18);
    text-transform: none;
    font-weight: normal;
}


h2, .h2, h3, .sub-heading {
    text-align: center;
}

p {
    margin-top: 10px;
}

.team-pic {
    margin-top: 20px;
}

.grey-band {
    background-color: $darkWhite;
    padding: 3rem 0;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.no-js input[type="radio"] {
    margin-right: 5px;

    + label {
        margin-right: 20px;
    }
}

.flash-notice {
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.28);
    font-weight: bold;
    .alert {
        color: red;
    }
}

.form-access {
    display: inline-block;

    img {
        width: 22rem;
    }
}
