body {
    font-family: $normalFont;
    font-size: 16px;
    font-weight: 300;
    line-height: $lineHeight;
}
.access {
    position: absolute;
    left: -100ex;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container-fluid {
    max-width: $container-fluid-max;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h1, .h1 {
    @include fontsize(40);
    font-weight: bold;
}

h2, .h2 {
    @include fontsize(30);
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: $blue;
}

img {
    max-width: 100%;
}

*:not(.oldie) *:focus {
    outline: 1px solid $blue;
}

@at-root .oldie#{&} {
    a, input, button, textarea, [tabindex] {
        &:focus {
            outline: 1px solid $blue;
        }
    }
}

.sub-section {
    margin-top: 40px;
}


h3, .sub-heading {
    font-family: $serifFont;
    margin-top: 15px;
    color: $blue;
}


h2, h3, .sub-heading {
    text-align: center;
}

p {
    margin-top: 10px;
}

.team-pic {
    margin-top: 20px;
}

.grey-band {
    background-color: $darkWhite;
    padding: 3rem 0;
}
