// CSS reset
@import "reset-css";

// Core
@import "variables";
@import "mixins";
@import "icons";

// Grid system 
@import "grid";

//Styles
@import "main";
@import "modules/header";
@import "modules/footer";
@import "modules/title";