<main role="main" class="join">
  <h1>Take part in the research project! </h1>
  <p>Participate in our project and help us to achieve our goal to develop knowledge about the potential use of mobile applications in healthcare!</p>
  <p>After you register with your email we will send you the Information Sheet, the Informed Consent, and the link for downloading the mobile application. </p>

  <ul>
    <span>Select your location:</span>
    <li>Cyprus</li>
    <li>Scotland</li>
    <li>Spain</li>
    <li>Hungary</li>
    <li>Denmark</li>
    <li>Germany</li>
    <li>Italy</li>
  </ul>

  <form>
    <label class="access">Email: </label>
    <input type="email" name="email" placeholder="Email">
    <button type="submit">Submit</button>
  </form>

  <span>If you have any questions or require further information, please <a href="/contact_us">contact us</a>.</span>
</main>