<% if user_signed_in? %>
    <div class="container-fluid">
        <div class="row">
            <div>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right"%>
                <div><a href="<%= news_index_path %>" class="float-right clear">Back to news</a></div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <main role="main">
                    <h1 class="h2">Edit a news</h1>
                    <%= render partial: "layouts/form_news", locals: {news: @news}  %>
                </main>
            </div>
        </div>
    </div>
<% end %>
