<main role="main" class="news_updates">
  <h1>News and Updates</h1>
  <table>
    <caption class="access">News and updates on the project: </caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">News and updates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>dd/mm/yyyy</td>
        <td>message</td>
      </tr>
    </tbody>
  </table>
</main>