<div class="footer-band">
  <footer role="contentinfo" class="container-fluid">
      <div class="content">
          <%= render "layouts/links" %>
      </div>
      <div class="created_by">
          <span>created_by: <a href="//github.com/elenagarrone">elenagarrone</a></span>
      </div>
  </footer>
</div>
