<div class="footer-band<% if current_page?(ethics_path) || current_page?(news_index_path)%> position<% end %>">
  <footer role="contentinfo" class="container-fluid">
      <div class="content">
          <%= render "layouts/links" %>
      </div>
      <div class="created_by">
          <span>created_by: <a href="//github.com/elenagarrone">elenagarrone</a></span>
      </div>
  </footer>
</div>