<div class="header-band">
    <header role="banner" class="container-fluid">
        <div class="float-left">
            <a href="/homepage"><%= image_tag("logo.png", alt: "Quality of life logo") %></a>
        </div>
        <div class="float-right">
            <a href="//jrp.pscholars.org"><%= image_tag("junior-researcher-programme-logo.png", alt: "Junior researcher programme logo") %></a>
        </div>
        <nav role="navigation" aria-label="Main navigation">
            <%= render "layouts/links" %>
        </nav>
    </header>
</div>
