<ul>
    <li><a href="/ethics">Ethics</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/join">Join</a></li>
    <li><a href="/contact_us">Contact us</a></li>
    <li><a href="/news">News</a></li>
</ul>